<<<<<<< HEAD
:root {
  --primaryColor: #161616;
  --brandColor: #ff6000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryColor);
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
>>>>>>> Live
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
* {
  border: none;
}

=======
>>>>>>> Live
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD

/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
  background-color: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brandColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c45002;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

.width-page {
  width: 80%;
  margin: 0 auto;
}

.active {
  color: var(--brandColor) !important;
  font-weight: bold;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -- Logo --  */
.logo {
  font-size: 0.8em;
  display: inline;
}

.logo span {
  color: var(--brandColor);
}

/* -- NavBar -- */
.nav {
  color: white;
  margin-left: 50px;
  text-decoration: none;
}

.nav:hover {
  color: var(--brandColor);
}
=======
>>>>>>> Live
